# DES431 Project: Recommendation System

# Background

**MovieLens** is a movie recommendation system operated by GroupLens, a research group at the University of Minnesota. MovieLens has been developed to provide personalized movie recommendations to its users based on their viewing history and preferences.

# Task

1. This project is to be completed by a group of three students.
2. Propose and implement your own recommendation system based on the MovieLens dataset.
   - Use `ratings_train.csv` as the training set and `ratings_valid.csv` as the validation set.
   - Your recommendation system may utilize information from `movies.csv` for making recommendations.
   - The structure of the data files is detailed at `https://files.grouplens.org/datasets/movielens/ml-latest-small-README.html`.
   - The goal of the recommendation system is to minimize the root-mean-square error (RMSE), i.e., to minimize the difference between the predicted and actual ratings.
   - Implement a function named `predict_rating`. This function should accept a DataFrame with two columns: `userId` and `movieId`, and return the DataFrame with an additional column named `rating`, containing predicted ratings of a `movieId` by a `userId`.
   - The `predict_rating` function must be compatible with an undisclosed test set having the same format as the validation set. The test set contains  Your implementation will be evaluated by the test set. Failure to comply will result in a 50% deduction of your score.
   - You are required to modify the given program to enhance recommendation quality. Submitting the unaltered original program will be considered plagiarism.
3. Prepare slides for a 7-minute presentation that explains your proposed technique and algorithm for making recommendations, and demonstrates your RMSE results on the validation set.
4. Submit your Python notebook and the presentation slides in PDF format via Google Classroom by April 30, 2024, at 23:59. All members of the group must individually submit their work to Google Classroom. Late submissions will not be accepted and will incur a 10% deduction. Do not procrastinate. Plagiarism and code duplication will be rigorously checked.
5. Present your work on May 1, 2024, within a 7-minute timeframe. Presentations exceeding 7 minutes will result in point deductions.

In [2]:
# Edit this cell for the group name and members
# 1. Peereakarn Thongsata 6422780047 
# 2. Thanarat Attakulkijkarn 6422781318
# 3. Theeraphat Wongnijasil 6422782126

In [3]:
import numpy as np
import pandas as pd

# Loading data

In [4]:
ratings_train = pd.read_csv('ratings_train.csv')
ratings_valid = pd.read_csv('ratings_valid.csv')
movies = pd.read_csv('movies.csv')

In [5]:
ratings_train.describe()

            userId        movieId        rating     timestamp
count  96464.00000   96464.000000  96464.000000  9.646400e+04
mean     327.86935   19105.768059      3.509325  1.204483e+09
std      183.95296   35243.409786      1.041385  2.165283e+08
min        1.00000       1.000000      0.500000  8.281246e+08
25%      177.00000    1196.000000      3.000000  1.013395e+09
50%      330.00000    2959.000000      3.500000  1.182909e+09
75%      479.00000    7486.000000      4.000000  1.435993e+09
max      610.00000  193609.000000      5.000000  1.537799e+09

In [6]:
ratings_train = pd.merge(ratings_train, movies, on="movieId")
ratings_train.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [7]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

# Constructing model and predicting ratings

In [8]:
# construct a dictionary to map each genre to an indice

map_genres = dict()
n_genres = 0

for genres in movies["genres"]:
  for genre in genres.split("|"):
    if genre not in map_genres:
      map_genres[genre] = n_genres
      n_genres += 1

map_genres

{'Adventure': 0,
 'Animation': 1,
 'Children': 2,
 'Comedy': 3,
 'Fantasy': 4,
 'Romance': 5,
 'Drama': 6,
 'Action': 7,
 'Crime': 8,
 'Thriller': 9,
 'Horror': 10,
 'Mystery': 11,
 'Sci-Fi': 12,
 'War': 13,
 'Musical': 14,
 'Documentary': 15,
 'IMAX': 16,
 'Western': 17,
 'Film-Noir': 18,
 '(no genres listed)': 19}

In [9]:
# construct a dictionary to map each userId to an indice

map_userId = dict()
n_users = 0

for id in ratings_train["userId"]:
  if id not in map_userId:
    map_userId[id] = n_users
    n_users += 1

map_userId

{1: 0,
 5: 1,
 7: 2,
 15: 3,
 17: 4,
 18: 5,
 19: 6,
 21: 7,
 27: 8,
 31: 9,
 32: 10,
 33: 11,
 40: 12,
 43: 13,
 44: 14,
 45: 15,
 46: 16,
 50: 17,
 54: 18,
 57: 19,
 63: 20,
 64: 21,
 66: 22,
 68: 23,
 71: 24,
 73: 25,
 76: 26,
 78: 27,
 82: 28,
 86: 29,
 89: 30,
 90: 31,
 91: 32,
 93: 33,
 96: 34,
 98: 35,
 103: 36,
 107: 37,
 112: 38,
 119: 39,
 121: 40,
 124: 41,
 130: 42,
 132: 43,
 134: 44,
 135: 45,
 137: 46,
 140: 47,
 141: 48,
 144: 49,
 145: 50,
 151: 51,
 153: 52,
 155: 53,
 156: 54,
 159: 55,
 160: 56,
 161: 57,
 166: 58,
 167: 59,
 169: 60,
 171: 61,
 177: 62,
 178: 63,
 179: 64,
 182: 65,
 185: 66,
 186: 67,
 191: 68,
 193: 69,
 200: 70,
 201: 71,
 202: 72,
 206: 73,
 213: 74,
 214: 75,
 216: 76,
 217: 77,
 219: 78,
 220: 79,
 223: 80,
 226: 81,
 229: 82,
 232: 83,
 233: 84,
 234: 85,
 239: 86,
 240: 87,
 247: 88,
 249: 89,
 252: 90,
 254: 91,
 263: 92,
 264: 93,
 266: 94,
 269: 95,
 270: 96,
 273: 97,
 274: 98,
 275: 99,
 276: 100,
 277: 101,
 279: 102,
 280: 103,
 282: 104,
 283: 105,
 288: 106,
 290: 107,
 291: 108,
 292: 109,
 293: 110,
 298: 111,
 304: 112,
 307: 113,
 314: 114,
 322: 115,
 323: 116,
 328: 117,
 330: 118,
 332: 119,
 334: 120,
 336: 121,
 337: 122,
 339: 123,
 341: 124,
 347: 125,
 350: 126,
 353: 127,
 357: 128,
 359: 129,
 364: 130,
 367: 131,
 372: 132,
 373: 133,
 378: 134,
 380: 135,
 381: 136,
 382: 137,
 385: 138,
 389: 139,
 391: 140,
 396: 141,
 399: 142,
 401: 143,
 411: 144,
 412: 145,
 414: 146,
 420: 147,
 422: 148,
 432: 149,
 434: 150,
 436: 151,
 438: 152,
 443: 153,
 448: 154,
 451: 155,
 453: 156,
 456: 157,
 460: 158,
 462: 159,
 468: 160,
 469: 161,
 470: 162,
 471: 163,
 474: 164,
 476: 165,
 477: 166,
 480: 167,
 483: 168,
 484: 169,
 488: 170,
 490: 171,
 492: 172,
 500: 173,
 504: 174,
 509: 175,
 514: 176,
 517: 177,
 522: 178,
 524: 179,
 525: 180,
 528: 181,
 529: 182,
 533: 183,
 534: 184,
 541: 185,
 544: 186,
 550: 187,
 555: 188,
 559: 189,
 560: 190,
 561: 191,
 562: 192,
 567: 193,
 570: 194,
 572: 195,
 573: 196,
 579: 197,
 580: 198,
 584: 199,
 587: 200,
 590: 201,
 596: 202,
 597: 203,
 599: 204,
 600: 205,
 601: 206,
 603: 207,
 604: 208,
 605: 209,
 606: 210,
 607: 211,
 608: 212,
 609: 213,
 610: 214,
 6: 215,
 42: 216,
 51: 217,
 58: 218,
 100: 219,
 102: 220,
 116: 221,
 117: 222,
 150: 223,
 289: 224,
 294: 225,
 302: 226,
 308: 227,
 321: 228,
 368: 229,
 410: 230,
 501: 231,
 552: 232,
 588: 233,
 594: 234,
 11: 235,
 23: 236,
 24: 237,
 28: 238,
 62: 239,
 79: 240,
 84: 241,
 105: 242,
 109: 243,
 181: 244,
 195: 245,
 199: 246,
 244: 247,
 286: 248,
 297: 249,
 305: 250,
 312: 251,
 313: 252,
 317: 253,
 318: 254,
 325: 255,
 362: 256,
 386: 257,
 400: 258,
 425: 259,
 437: 260,
 444: 261,
 486: 262,
 493: 263,
 521: 264,
 532: 265,
 553: 266,
 577: 267,
 592: 268,
 602: 269,
 4: 270,
 8: 271,
 13: 272,
 14: 273,
 16: 274,
 26: 275,
 39: 276,
 41: 277,
 47: 278,
 56: 279,
 72: 280,
 75: 281,
 81: 282,
 94: 283,
 104: 284,
 110: 285,
 122: 286,
 123: 287,
 126: 288,
 129: 289,
 131: 290,
 133: 291,
 136: 292,
 142: 293,
 152: 294,
 176: 295,
 187: 296,
 192: 297,
 198: 298,
 204: 299,
 222: 300,
 227: 301,
 230: 302,
 241: 303,
 242: 304,
 251: 305,
 260: 306,
 261: 307,
 268: 308,
 284: 309,
 301: 310,
 326: 311,
 346: 312,
 351: 313,
 352: 314,
 354: 315,
 369: 316,
 370: 317,
 379: 318,
 387: 319,
 402: 320,
 403: 321,
 404: 322,
 415: 323,
 417: 324,
 419: 325,
 424: 326,
 426: 327,
 433: 328,
 441: 329,
 445: 330,
 446: 331,
 452: 332,
 464: 333,
 489: 334,
 498: 335,
 505: 336,
 507: 337,
 512: 338,
 540: 339,
 542: 340,
 551: 341,
 565: 342,
 574: 343,
 29: 344,
 35: 345,
 38: 346,
 60: 347,
 61: 348,
 69: 349,
 80: 350,
 88: 351,
 162: 352,
 174: 353,
 197: 354,
 211: 355,
 215: 356,
 221: 357,
 228: 358,
 237: 359,
 246: 360,
 262: 361,
 278: 362,
 287: 363,
 295: 364,
 296: 365,
 309: 366,
 327: 367,
 329: 368,
 331: 369,
 335: 370,
 338: 371,
 343: 372,
 348: 373,
 356: 374,
 363: 375,
 394: 376,
 418: 377,
 435: 378,
 449: 379,
 455: 380,
 472: 381,
 482: 382,
 495: 383,
 497: 384,
 510: 385,
 515: 386,
 566: 387,
 568: 388,
 569: 389,
 593: 390,
 595: 391,
 34: 392,
 361: 393,
 405: 394,
 428: 395,
 450: 396,
 546: 397,
 571: 398,
 454: 399,
 30: 400,
 49: 401,
 59: 402,
 83: 403,
 115: 404,
 125: 405,
 128: 406,
 164: 407,
 165: 408,
 170: 409,
 173: 410,
 183: 411,
 196: 412,
 203: 413,
 208: 414,
 235: 415,
 265: 416,
 267: 417,
 319: 418,
 340: 419,
 344: 420,
 366: 421,
 374: 422,
 376: 423,
 390: 424,
 393: 425,
 395: 426,
 423: 427,
 427: 428,
 439: 429,
 447: 430,
 457: 431,
 458: 432,
 463: 433,
 479: 434,
 485: 435,
 494: 436,
 513: 437,
 536: 438,
 549: 439,
 586: 440,
 108: 441,
 147: 442,
 429: 443,
 99: 444,
 194: 445,
 238: 446,
 256: 447,
 431: 448,
 22: 449,
 310: 450,
 365: 451,
 583: 452,
 9: 453,
 101: 454,
 225: 455,
 255: 456,
 342: 457,
 384: 458,
 409: 459,
 558: 460,
 585: 461,
 591: 462,
 25: 463,
 37: 464,
 349: 465,
 543: 466,
 557: 467,
 589: 468,
 520: 469,
 52: 470,
 77: 471,
 95: 472,
 113: 473,
 114: 474,
 120: 475,
 139: 476,
 149: 477,
 180: 478,
 205: 479,
 210: 480,
 212: 481,
 224: 482,
 231: 483,
 248: 484,
 303: 485,
 407: 486,
 408: 487,
 416: 488,
 459: 489,
 461: 490,
 466: 491,
 475: 492,
 487: 493,
 516: 494,
 527: 495,
 531: 496,
 548: 497,
 582: 498,
 10: 499,
 67: 500,
 74: 501,
 118: 502,
 168: 503,
 285: 504,
 413: 505,
 503: 506,
 526: 507,
 575: 508,
 355: 509,
 2: 510,
 465: 511,
 530: 512,
 70: 513,
 111: 514,
 143: 515,
 148: 516,
 154: 517,
 188: 518,
 189: 519,
 209: 520,
 243: 521,
 300: 522,
 375: 523,
 430: 524,
 491: 525,
 511: 526,
 519: 527,
 523: 528,
 563: 529,
 564: 530,
 581: 531,
 20: 532,
 281: 533,
 442: 534,
 316: 535,
 537: 536,
 3: 537,
 65: 538,
 85: 539,
 157: 540,
 172: 541,
 190: 542,
 258: 543,
 421: 544,
 467: 545,
 539: 546,
 554: 547,
 12: 548,
 36: 549,
 371: 550,
 97: 551,
 598: 552,
 502: 553,
 253: 554,
 324: 555,
 55: 556,
 48: 557,
 377: 558,
 398: 559,
 53: 560,
 478: 561,
 218: 562,
 245: 563,
 250: 564,
 271: 565,
 345: 566,
 392: 567,
 87: 568,
 383: 569,
 388: 570,
 538: 571,
 299: 572,
 311: 573,
 236: 574,
 440: 575,
 499: 576,
 508: 577,
 547: 578,
 272: 579,
 518: 580,
 406: 581,
 257: 582,
 259: 583,
 163: 584,
 360: 585,
 481: 586,
 138: 587,
 146: 588,
 320: 589,
 92: 590,
 207: 591,
 473: 592,
 358: 593,
 545: 594,
 315: 595,
 106: 596,
 535: 597,
 576: 598,
 158: 599,
 333: 600,
 127: 601,
 184: 602,
 496: 603,
 306: 604,
 506: 605,
 397: 606,
 556: 607,
 175: 608,
 578: 609}

In [10]:
# construct a matrix P

P = np.zeros((n_users, n_genres))
freq = np.zeros((n_users, n_genres))

for i, row in ratings_train.iterrows():
  for genre in row["genres"].split("|"):
    P[map_userId[row["userId"]]][map_genres[genre]] += row["rating"]
    freq[map_userId[row["userId"]]][map_genres[genre]] += 1
  
P = P/freq

for i, row in ratings_train.groupby(["userId"]).mean().iterrows():
  P[map_userId[i]] = np.nan_to_num(P[map_userId[i]], nan = row["rating"])

P

/var/folders/9f/7zzw4cs54lq72krs9g56zcxw0000gn/T/ipykernel_19309/3614885811.py:11: RuntimeWarning: invalid value encountered in divide
  P = P/freq

array([[4.38823529, 4.68965517, 4.54761905, ..., 4.28571429, 5.        ,
        4.36637931],
       [3.25      , 4.33333333, 4.11111111, ..., 3.        , 3.63636364,
        3.63636364],
       [3.31481481, 3.39285714, 3.2       , ..., 1.5       , 3.25      ,
        3.23026316],
       ...,
       [4.15384615, 5.        , 4.41666667, ..., 4.078125  , 4.078125  ,
        4.078125  ],
       [3.54166667, 3.54166667, 4.25      , ..., 3.54166667, 3.54166667,
        3.54166667],
       [5.        , 3.96296296, 3.5       , ..., 3.96296296, 3.96296296,
        3.96296296]])

In [11]:
# construct a dictionary to map each movieId to an indice

map_movieId = dict()
n_movies = 0

for id in movies["movieId"]:
  if id not in map_movieId:
    map_movieId[id] = n_movies
    n_movies += 1

map_movieId

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 21: 20,
 22: 21,
 23: 22,
 24: 23,
 25: 24,
 26: 25,
 27: 26,
 28: 27,
 29: 28,
 30: 29,
 31: 30,
 32: 31,
 34: 32,
 36: 33,
 38: 34,
 39: 35,
 40: 36,
 41: 37,
 42: 38,
 43: 39,
 44: 40,
 45: 41,
 46: 42,
 47: 43,
 48: 44,
 49: 45,
 50: 46,
 52: 47,
 53: 48,
 54: 49,
 55: 50,
 57: 51,
 58: 52,
 60: 53,
 61: 54,
 62: 55,
 63: 56,
 64: 57,
 65: 58,
 66: 59,
 68: 60,
 69: 61,
 70: 62,
 71: 63,
 72: 64,
 73: 65,
 74: 66,
 75: 67,
 76: 68,
 77: 69,
 78: 70,
 79: 71,
 80: 72,
 81: 73,
 82: 74,
 83: 75,
 85: 76,
 86: 77,
 87: 78,
 88: 79,
 89: 80,
 92: 81,
 93: 82,
 94: 83,
 95: 84,
 96: 85,
 97: 86,
 99: 87,
 100: 88,
 101: 89,
 102: 90,
 103: 91,
 104: 92,
 105: 93,
 106: 94,
 107: 95,
 108: 96,
 110: 97,
 111: 98,
 112: 99,
 113: 100,
 116: 101,
 117: 102,
 118: 103,
 119: 104,
 121: 105,
 122: 106,
 123: 107,
 125: 108,
 126: 109,
 128: 110,
 129: 111,
 132: 112,
 135: 113,
 137: 114,
 140: 115,
 141: 116,
 144: 117,
 145: 118,
 146: 119,
 147: 120,
 148: 121,
 149: 122,
 150: 123,
 151: 124,
 152: 125,
 153: 126,
 154: 127,
 155: 128,
 156: 129,
 157: 130,
 158: 131,
 159: 132,
 160: 133,
 161: 134,
 162: 135,
 163: 136,
 164: 137,
 165: 138,
 166: 139,
 168: 140,
 169: 141,
 170: 142,
 171: 143,
 172: 144,
 173: 145,
 174: 146,
 175: 147,
 176: 148,
 177: 149,
 178: 150,
 179: 151,
 180: 152,
 181: 153,
 183: 154,
 184: 155,
 185: 156,
 186: 157,
 187: 158,
 188: 159,
 189: 160,
 190: 161,
 191: 162,
 193: 163,
 194: 164,
 195: 165,
 196: 166,
 198: 167,
 199: 168,
 201: 169,
 202: 170,
 203: 171,
 204: 172,
 205: 173,
 206: 174,
 207: 175,
 208: 176,
 209: 177,
 210: 178,
 211: 179,
 212: 180,
 213: 181,
 214: 182,
 215: 183,
 216: 184,
 217: 185,
 218: 186,
 219: 187,
 220: 188,
 222: 189,
 223: 190,
 224: 191,
 225: 192,
 227: 193,
 228: 194,
 229: 195,
 230: 196,
 231: 197,
 232: 198,
 233: 199,
 234: 200,
 235: 201,
 236: 202,
 237: 203,
 238: 204,
 239: 205,
 240: 206,
 241: 207,
 242: 208,
 243: 209,
 246: 210,
 247: 211,
 248: 212,
 249: 213,
 250: 214,
 251: 215,
 252: 216,
 253: 217,
 254: 218,
 255: 219,
 256: 220,
 257: 221,
 258: 222,
 259: 223,
 260: 224,
 261: 225,
 262: 226,
 263: 227,
 265: 228,
 266: 229,
 267: 230,
 269: 231,
 270: 232,
 271: 233,
 272: 234,
 273: 235,
 274: 236,
 275: 237,
 276: 238,
 277: 239,
 278: 240,
 279: 241,
 280: 242,
 281: 243,
 282: 244,
 283: 245,
 284: 246,
 285: 247,
 287: 248,
 288: 249,
 289: 250,
 290: 251,
 291: 252,
 292: 253,
 293: 254,
 294: 255,
 295: 256,
 296: 257,
 298: 258,
 299: 259,
 300: 260,
 301: 261,
 302: 262,
 303: 263,
 304: 264,
 305: 265,
 306: 266,
 307: 267,
 308: 268,
 310: 269,
 311: 270,
 312: 271,
 313: 272,
 314: 273,
 315: 274,
 316: 275,
 317: 276,
 318: 277,
 319: 278,
 320: 279,
 321: 280,
 322: 281,
 324: 282,
 325: 283,
 326: 284,
 327: 285,
 328: 286,
 329: 287,
 330: 288,
 331: 289,
 332: 290,
 333: 291,
 334: 292,
 335: 293,
 336: 294,
 337: 295,
 338: 296,
 339: 297,
 340: 298,
 341: 299,
 342: 300,
 343: 301,
 344: 302,
 345: 303,
 346: 304,
 347: 305,
 348: 306,
 349: 307,
 350: 308,
 351: 309,
 352: 310,
 353: 311,
 354: 312,
 355: 313,
 356: 314,
 357: 315,
 358: 316,
 359: 317,
 360: 318,
 361: 319,
 362: 320,
 363: 321,
 364: 322,
 365: 323,
 366: 324,
 367: 325,
 368: 326,
 369: 327,
 370: 328,
 371: 329,
 372: 330,
 373: 331,
 374: 332,
 376: 333,
 377: 334,
 378: 335,
 379: 336,
 380: 337,
 381: 338,
 382: 339,
 383: 340,
 384: 341,
 385: 342,
 386: 343,
 387: 344,
 388: 345,
 389: 346,
 390: 347,
 391: 348,
 393: 349,
 405: 350,
 406: 351,
 407: 352,
 408: 353,
 409: 354,
 410: 355,
 412: 356,
 413: 357,
 414: 358,
 415: 359,
 416: 360,
 417: 361,
 418: 362,
 419: 363,
 420: 364,
 421: 365,
 422: 366,
 423: 367,
 424: 368,
 425: 369,
 426: 370,
 427: 371,
 428: 372,
 429: 373,
 430: 374,
 431: 375,
 432: 376,
 433: 377,
 434: 378,
 435: 379,
 436: 380,
 437: 381,
 438: 382,
 440: 383,
 441: 384,
 442: 385,
 444: 386,
 445: 387,
 446: 388,
 448: 389,
 449: 390,
 450: 391,
 451: 392,
 452: 393,
 453: 394,
 454: 395,
 455: 396,
 456: 397,
 457: 398,
 458: 399,
 459: 400,
 460: 401,
 461: 402,
 464: 403,
 466: 404,
 467: 405,
 468: 406,
 469: 407,
 470: 408,
 471: 409,
 472: 410,
 473: 411,
 474: 412,
 475: 413,
 476: 414,
 477: 415,
 478: 416,
 479: 417,
 480: 418,
 481: 419,
 482: 420,
 484: 421,
 485: 422,
 486: 423,
 487: 424,
 488: 425,
 489: 426,
 490: 427,
 491: 428,
 492: 429,
 493: 430,
 494: 431,
 495: 432,
 496: 433,
 497: 434,
 499: 435,
 500: 436,
 501: 437,
 502: 438,
 504: 439,
 505: 440,
 506: 441,
 507: 442,
 508: 443,
 509: 444,
 510: 445,
 511: 446,
 512: 447,
 513: 448,
 514: 449,
 515: 450,
 516: 451,
 517: 452,
 518: 453,
 519: 454,
 520: 455,
 521: 456,
 522: 457,
 523: 458,
 524: 459,
 526: 460,
 527: 461,
 528: 462,
 529: 463,
 531: 464,
 532: 465,
 533: 466,
 534: 467,
 535: 468,
 536: 469,
 537: 470,
 538: 471,
 539: 472,
 540: 473,
 541: 474,
 542: 475,
 543: 476,
 544: 477,
 546: 478,
 547: 479,
 548: 480,
 549: 481,
 550: 482,
 551: 483,
 552: 484,
 553: 485,
 555: 486,
 556: 487,
 558: 488,
 562: 489,
 563: 490,
 564: 491,
 567: 492,
 568: 493,
 569: 494,
 573: 495,
 574: 496,
 575: 497,
 577: 498,
 579: 499,
 580: 500,
 581: 501,
 583: 502,
 585: 503,
 586: 504,
 587: 505,
 588: 506,
 589: 507,
 590: 508,
 592: 509,
 593: 510,
 594: 511,
 595: 512,
 596: 513,
 597: 514,
 599: 515,
 600: 516,
 602: 517,
 605: 518,
 606: 519,
 608: 520,
 609: 521,
 610: 522,
 611: 523,
 612: 524,
 613: 525,
 615: 526,
 616: 527,
 617: 528,
 618: 529,
 619: 530,
 626: 531,
 627: 532,
 628: 533,
 631: 534,
 632: 535,
 633: 536,
 634: 537,
 635: 538,
 636: 539,
 637: 540,
 638: 541,
 639: 542,
 640: 543,
 645: 544,
 647: 545,
 648: 546,
 649: 547,
 650: 548,
 653: 549,
 656: 550,
 661: 551,
 662: 552,
 663: 553,
 665: 554,
 667: 555,
 668: 556,
 670: 557,
 671: 558,
 673: 559,
 674: 560,
 678: 561,
 679: 562,
 680: 563,
 685: 564,
 688: 565,
 691: 566,
 692: 567,
 694: 568,
 695: 569,
 697: 570,
 698: 571,
 700: 572,
 703: 573,
 704: 574,
 706: 575,
 707: 576,
 708: 577,
 709: 578,
 710: 579,
 711: 580,
 714: 581,
 715: 582,
 718: 583,
 719: 584,
 720: 585,
 722: 586,
 724: 587,
 725: 588,
 726: 589,
 728: 590,
 731: 591,
 733: 592,
 735: 593,
 736: 594,
 737: 595,
 741: 596,
 742: 597,
 743: 598,
 745: 599,
 747: 600,
 748: 601,
 750: 602,
 757: 603,
 759: 604,
 760: 605,
 761: 606,
 762: 607,
 764: 608,
 765: 609,
 766: 610,
 773: 611,
 775: 612,
 778: 613,
 779: 614,
 780: 615,
 781: 616,
 782: 617,
 783: 618,
 784: 619,
 785: 620,
 786: 621,
 788: 622,
 790: 623,
 791: 624,
 795: 625,
 798: 626,
 799: 627,
 800: 628,
 801: 629,
 802: 630,
 803: 631,
 804: 632,
 805: 633,
 806: 634,
 808: 635,
 809: 636,
 810: 637,
 813: 638,
 818: 639,
 823: 640,
 824: 641,
 828: 642,
 829: 643,
 830: 644,
 832: 645,
 833: 646,
 835: 647,
 836: 648,
 837: 649,
 838: 650,
 839: 651,
 840: 652,
 841: 653,
 842: 654,
 848: 655,
 849: 656,
 851: 657,
 852: 658,
 858: 659,
 861: 660,
 866: 661,
 867: 662,
 869: 663,
 870: 664,
 875: 665,
 876: 666,
 879: 667,
 880: 668,
 881: 669,
 882: 670,
 885: 671,
 886: 672,
 888: 673,
 889: 674,
 891: 675,
 892: 676,
 893: 677,
 896: 678,
 897: 679,
 898: 680,
 899: 681,
 900: 682,
 901: 683,
 902: 684,
 903: 685,
 904: 686,
 905: 687,
 906: 688,
 907: 689,
 908: 690,
 909: 691,
 910: 692,
 911: 693,
 912: 694,
 913: 695,
 914: 696,
 915: 697,
 916: 698,
 917: 699,
 918: 700,
 919: 701,
 920: 702,
 921: 703,
 922: 704,
 923: 705,
 924: 706,
 926: 707,
 927: 708,
 928: 709,
 929: 710,
 930: 711,
 931: 712,
 932: 713,
 933: 714,
 934: 715,
 935: 716,
 936: 717,
 937: 718,
 938: 719,
 940: 720,
 941: 721,
 942: 722,
 943: 723,
 944: 724,
 945: 725,
 946: 726,
 947: 727,
 948: 728,
 949: 729,
 950: 730,
 951: 731,
 952: 732,
 953: 733,
 954: 734,
 955: 735,
 956: 736,
 959: 737,
 961: 738,
 963: 739,
 965: 740,
 968: 741,
 969: 742,
 970: 743,
 971: 744,
 973: 745,
 976: 746,
 979: 747,
 981: 748,
 982: 749,
 984: 750,
 986: 751,
 987: 752,
 988: 753,
 990: 754,
 991: 755,
 993: 756,
 994: 757,
 996: 758,
 998: 759,
 999: 760,
 1003: 761,
 1004: 762,
 1005: 763,
 1006: 764,
 1007: 765,
 1008: 766,
 1009: 767,
 1010: 768,
 1011: 769,
 1012: 770,
 1013: 771,
 1014: 772,
 1015: 773,
 1016: 774,
 1017: 775,
 1018: 776,
 1019: 777,
 1020: 778,
 1021: 779,
 1022: 780,
 1023: 781,
 1024: 782,
 1025: 783,
 1027: 784,
 1028: 785,
 1029: 786,
 1030: 787,
 1031: 788,
 1032: 789,
 1033: 790,
 1034: 791,
 1035: 792,
 1036: 793,
 1037: 794,
 1040: 795,
 1041: 796,
 1042: 797,
 1043: 798,
 1046: 799,
 1047: 800,
 1049: 801,
 1050: 802,
 1051: 803,
 1053: 804,
 1054: 805,
 1055: 806,
 1056: 807,
 1057: 808,
 1059: 809,
 1060: 810,
 1061: 811,
 1064: 812,
 1066: 813,
 1068: 814,
 1073: 815,
 1076: 816,
 1077: 817,
 1078: 818,
 1079: 819,
 1080: 820,
 1081: 821,
 1082: 822,
 1083: 823,
 1084: 824,
 1085: 825,
 1086: 826,
 1088: 827,
 1089: 828,
 1090: 829,
 1091: 830,
 1092: 831,
 1093: 832,
 1094: 833,
 1095: 834,
 1096: 835,
 1097: 836,
 1099: 837,
 1100: 838,
 1101: 839,
 1103: 840,
 1104: 841,
 1105: 842,
 1107: 843,
 1111: 844,
 1112: 845,
 1114: 846,
 1116: 847,
 1117: 848,
 1119: 849,
 1120: 850,
 1121: 851,
 1123: 852,
 1124: 853,
 1125: 854,
 1126: 855,
 1127: 856,
 1128: 857,
 1129: 858,
 1130: 859,
 1131: 860,
 1132: 861,
 1135: 862,
 1136: 863,
 1137: 864,
 1140: 865,
 1144: 866,
 1147: 867,
 1148: 868,
 1150: 869,
 1151: 870,
 1156: 871,
 1161: 872,
 1162: 873,
 1163: 874,
 1167: 875,
 1170: 876,
 1171: 877,
 1172: 878,
 1173: 879,
 1175: 880,
 1176: 881,
 1177: 882,
 1178: 883,
 1179: 884,
 1180: 885,
 1183: 886,
 1184: 887,
 1185: 888,
 1186: 889,
 1187: 890,
 1188: 891,
 1189: 892,
 1190: 893,
 1191: 894,
 1192: 895,
 1193: 896,
 1194: 897,
 1196: 898,
 1197: 899,
 1198: 900,
 1199: 901,
 1200: 902,
 1201: 903,
 1202: 904,
 1203: 905,
 1204: 906,
 1206: 907,
 1207: 908,
 1208: 909,
 1209: 910,
 1210: 911,
 1211: 912,
 1212: 913,
 1213: 914,
 1214: 915,
 1215: 916,
 1216: 917,
 1217: 918,
 1218: 919,
 1219: 920,
 1220: 921,
 1221: 922,
 1222: 923,
 1223: 924,
 1224: 925,
 1225: 926,
 1226: 927,
 1227: 928,
 1228: 929,
 1230: 930,
 1231: 931,
 1232: 932,
 1233: 933,
 1234: 934,
 1235: 935,
 1236: 936,
 1237: 937,
 1238: 938,
 1240: 939,
 1241: 940,
 1242: 941,
 1243: 942,
 1244: 943,
 1245: 944,
 1246: 945,
 1247: 946,
 1248: 947,
 1249: 948,
 1250: 949,
 1251: 950,
 1252: 951,
 1253: 952,
 1254: 953,
 1255: 954,
 1256: 955,
 1257: 956,
 1258: 957,
 1259: 958,
 1260: 959,
 1261: 960,
 1262: 961,
 1263: 962,
 1264: 963,
 1265: 964,
 1266: 965,
 1267: 966,
 1268: 967,
 1269: 968,
 1270: 969,
 1271: 970,
 1272: 971,
 1273: 972,
 1274: 973,
 1275: 974,
 1276: 975,
 1277: 976,
 1278: 977,
 1279: 978,
 1280: 979,
 1281: 980,
 1282: 981,
 1283: 982,
 1284: 983,
 1285: 984,
 1286: 985,
 1287: 986,
 1288: 987,
 1289: 988,
 1290: 989,
 1291: 990,
 1292: 991,
 1293: 992,
 1295: 993,
 1296: 994,
 1297: 995,
 1298: 996,
 1299: 997,
 1300: 998,
 1301: 999,
 ...}

In [12]:
# construct a matrix T

n_movies = movies["movieId"].nunique()

T = np.zeros((n_movies, n_genres))

for i, row in movies.iterrows():
  for genre in row["genres"].split("|"):
    T[map_movieId[row["movieId"]]][map_genres[genre]] = len(row["genres"].split("|"))

T = 1 / T
T = np.nan_to_num(T, posinf = 0)
T

/var/folders/9f/7zzw4cs54lq72krs9g56zcxw0000gn/T/ipykernel_19309/1719071602.py:11: RuntimeWarning: divide by zero encountered in divide
  T = 1 / T

array([[0.2       , 0.2       , 0.2       , ..., 0.        , 0.        ,
        0.        ],
       [0.33333333, 0.        , 0.33333333, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.5       , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [13]:
# Model construction
predicted = np.matmul(P, np.transpose(T))
avg_rating = ratings_train[['movieId', 'rating']].groupby(by='movieId').mean()

# Prediction
def predict_rating(df):
  # Input: 
	# 	df = a dataframe with two columns: userId, movieId
	# Output:
	#   a dataframe with three columns: userId, movieId, rating
	rating = []
	for i, row in df.iterrows():
		rating.append(predicted[map_userId[row["userId"]]][map_movieId[row["movieId"]]])

	df["rating"] = rating
	return df

In [14]:
# Prepare df for prediction
r = ratings_valid[['userId', 'movieId']]

# Predict ratings
ratings_pred = predict_rating(r)

/var/folders/9f/7zzw4cs54lq72krs9g56zcxw0000gn/T/ipykernel_19309/3815688075.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rating"] = rating

In [15]:
ratings_pred.head(10)

   userId  movieId    rating
0       4       45  3.488470
1       4       52  3.504385
2       4       58  3.504385
3       4      222  3.451699
4       4      247  3.630021
5       4      265  3.545577
6       4      319  3.488470
7       4      345  3.525808
8       4      417  3.535647
9       4      441  3.609756

In [16]:
from sklearn.metrics import mean_squared_error

r_true = ratings_valid['rating'].to_numpy()
r_pred = ratings_pred['rating'].to_numpy()

rmse = mean_squared_error(r_true, r_pred, squared=False)
print(f"RMSE = {rmse:.4f}")
print(f"Initial RMSE = 0.9171")

RMSE = 0.8976
Initial RMSE = 0.9171